<h1>Donuts</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/donuts" routerLinkActive="active">Donuts</a></li>
    <!-- <li><a routerLink="/donutdetail" routerLinkActive="active">Donut Detail</a></li> -->
    <li><a routerLink="/famouspeople" routerLinkActive="active">Famous People</a></li>
    <!-- <li><a routerLink="/famouspersondetail" routerLinkActive="active">Famous Person Detail</a></li> -->
  </ul>
</nav>

<router-outlet></router-outlet>

<!-- <app-donuts></app-donuts> -->

